body {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: #000;
}

section {
  background-image: url("bg-intro-desktop.png");
  background-color: hsl(0, 100%, 74%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2% 7%;
  margin: 4%;
  color: #fff;
}

span {
  color: hsl(0, 100%, 74%);
}

.learn {
  margin-right: 5%;
}

.learn h2 {
  font-size: 42px;
  font-weight: 900;
}

.learn p {
  font-size: 20px;
}

.s1-form {
  background-color: #fff;
  padding: 7%;
  width: 394px;
  margin-right: 60px;
  border-radius: 17px;
  color: #000;
}

.s1-2context {
  background-color: hsl(248, 32%, 49%);
  padding: 4% 0;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  margin: 5% 0;
}

.s1-input {
  display: grid;
}

.s1-input input {
  margin: 10px 0;
  padding: 15px;
  border: 1px solid #000;
  border-radius: 6px;
}

.s1-button button {
  background-color: hsl(154, 59%, 51%);
  color: #fff;
  margin: 10px 0;
  padding: 15px 139px;
  border: none;
  width: max-content;
  border-radius: 4px;
}

input[type=submit] {
  background-color: hsl(154, 59%, 51%);
  color: #fff;
  margin: 10px 0;
  padding: 15px 139px;
  border: none;
  width: max-content;
  border-radius: 4px;
}

a {
  text-decoration: none;
}

.clicking {
  font-size: 14px;
  color: #bfbfbf;
}

@media (max-width: 768px) {
  section {
      flex-direction: column;
      margin: 0;
  }
  .s1-form {
      width: 264px;
      padding: 4% 9%;
      border-radius: 8px;
  }
  input[type=submit] {
      padding: 15px 77px;
  }
  .s1-2context {
      margin: 9% 0;
      font-size: 18px;
      font-weight: 600;
  }
  .flex-2 {
      position: relative;
      bottom: 3%;
  }
  br {
      display: none;
  }
}